.movies-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, minmax(150px, 364px));
    gap: 36px 24px;
    padding: 71px 70px 10px;
    box-sizing: border-box;
  }
  
  @media (max-width: 848px) { 
    .movies-list {
      grid-template-columns: repeat(2, minmax(150px, 339px));
      gap: 30px;
      padding: 80px 30px 30px;
    }
  }
  
  @media (max-width: 650px) { 
    .movies-list {
      grid-template-columns: repeat(1, minmax(300px, 339px));
      gap: 34px;
      padding: 40px 10px 0;
    }
  }
  
  .movies-list__more-button {
    grid-column: 1/-1;
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 50px auto 80px;
    padding: 11px 0 9px;;
    box-sizing: border-box;
    border: none; 
    border-radius: 6px;
    background: transparent;
    background-color: #F9F9F9;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 500;
    color: #000000;
  }
  
  @media (max-width: 848px) { 
    .movies-list__more-button {
      margin-bottom: 98px;
    }
  }
  
  @media (max-width: 426px) { 
    .movies-list__more-button {
      max-width: 240px;
      margin: 20px auto 80px;
    }
  }
  
  .movies-list__more-button:hover {
    opacity: 0.7;
    user-select: none;
    cursor: pointer;
  }
  